@import "./variables.scss";

//*=====  Start GLOBAL-STYLES  ======*//

:root {
    font-size: 16px;

    @media screen and (max-width: 600px) {
        font-size: 12px;
    }
}

// $primary-color: var(--primary-color);

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden auto;
    font-size: 1rem;
    -webkit-user-select: none;

    font-family: $mainFont, $subFont;
    -webkit-font-smoothing: antialiased;
    color: $text-color;
    background-color: $light-bg;

    &::-webkit-scrollbar {
        width: 0.45rem;
    }

    &::-webkit-scrollbar-track {
        background: #1e1e24;
    }

    &::-webkit-scrollbar-thumb {
        background: $secondary-color;
    }
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 3vmax;
}

h2,
h3 {
    text-transform: capitalize;
}

h2 {
    font-size: 3rem;
}

p {
    color: gray;
    line-height: 1.6;
    font-family: $helveticaNeue-font;

    &::first-letter {
        text-transform: uppercase;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

input,
button,
textarea {
    border: none;
    background-color: transparent;
    font-size: 1rem;
}

button:not(:disabled),
select,
input[type="submit"] {
    cursor: pointer;
}

input,
textarea {
    &::-webkit-input-placeholder {
        transition: opacity 0.3s;
        color: $grayPlaceholder-color;
        text-transform: capitalize;
        font-weight: 600;
    }

    &:focus::-webkit-input-placeholder {
        opacity: 0;
    }
}

textarea {
    resize: none;
}

button:disabled {
    cursor: not-allowed;
}

hr {
    margin: 0;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 3px;

    @media (max-width: 600px) {
        height: 3px !important;
    }
}

:focus,
:active {
    outline: none !important;
    box-shadow: none !important;
}

/*.container {
    width: 96.55vw;
    padding: 0 1rem;
    margin: 0 auto;
    position: relative;

    @media (max-width: 476px) {
        width: 100% !important;
    }
}*/

//*=====  End of GLOBAL-STYLES  ======*//

//*=====  Start APP-COMPONENT  ======*//

h1 {
    font-family: $decorated-font;
}

h2 {
    font-family: $decorated-font;
    background: getGradientBg(50deg);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    padding-top: 2rem;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: getGradientBg();
        height: 5px;
        border-radius: 20px;
    }

    &::before {
        bottom: -2px;
        width: 150px;
    }

    &::after {
        bottom: -12px;
        width: 100px;
    }
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.Navbar {
    min-height: 8vh;
    padding: 2vh 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: getGradientBg();
    // position: relative;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    &.fixed-nav {
        background: getGradientBg();
    }

    .logo {
        a {
            font: 900 2.25rem $decorated-font;
            background: repeating-linear-gradient(90deg, ghostwhite 50%, $secondary-color 80%, ghostwhite 100%);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            margin-bottom: 0;

            img {
                display: block;
                max-width: 100%;
                height: auto;
            }
        }
    }

    ul.links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // flex: 1;
        margin-bottom: 0;

        li {
            margin: 0 1rem;
            font: 600 1.05rem $chivo-font;
            text-transform: uppercase;
            letter-spacing: 1px;

            a {
                display: block;
                padding: 0.5rem;
                color: ghostwhite;
                transition: 0.3s;

                &.active,
                &:hover {
                    color: $secondary-color;
                }

                @keyframes animateMove {
                    0% {
                        transform: translateX(-100px);
                    }

                    100% {
                        transform: translateX(0);
                    }
                }
            }

            &.cart {
                a {
                    border: 2px solid white;

                    &.active,
                    &:hover {
                        border-color: $secondary-color;
                    }
                }
            }
        }
    }

    .nav-toggler {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 15px;
        left: calc(100% - 6rem);
        background-color: $light-bg;
        width: 45px;
        height: 40px;
        border-radius: 5px;
        cursor: pointer;
        z-index: 6;
        transition: background-color 0.4s;
        display: none;

        &:hover,
        &.active {
            background: $secondary-color;

            span {
                background-color: $light-bg;
            }
        }

        span {
            display: inline-block;
            width: 20px;
            height: 3px;
            background-color: $primary-color;
            position: relative;
            transition: 0.4s;

            &::before,
            &::after {
                content: "";
                display: inherit;
                width: inherit;
                height: inherit;
                background-color: inherit;
                position: absolute;
                transition: transform 0.4s;
            }

            &::before {
                top: -7px;
                left: 0;
            }

            &::after {
                bottom: -7px;
                left: 0;
            }
        }

        &.active {
            span {
                max-height: 0;

                &::before {
                    transform: translateY(6px) rotate(40deg);
                }

                &::after {
                    transform: translateY(-5px) rotate(-40deg);
                }
            }
        }
    }

    @media (max-width: 991px) {
        flex-direction: column;

        .logo {
            text-align: center;
        }

        .nav-toggler {
            display: flex;
        }

        ul.links {
            width: 100%;
            overflow: hidden;
            flex-direction: column;
            transition: 0.4s;
            max-height: 0;

            li {
                padding: 0.5rem 0;
                width: 100%;
                cursor: pointer;
                text-align: center;
                margin-top: 1rem;
                transition: 0.4s;

                a {
                    border: none !important;
                }

                &:hover {
                    background-color: $light-bg;
                    color: $primary-color;
                }
            }

            &.show {
                max-height: 200px;

                a {
                    animation: animateMove 0.4s;
                }
            }
        }
    }
}

.Products-list {
    padding: 1rem;

    ul {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        gap: 1rem 2rem;

        li {
            // box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            background-color: rgba(0, 0, 0, 0.03);
            padding: 1rem 0 0;
            border-radius: 0 0 10px 10px;
            position: relative;
            overflow: hidden;
            transition: 0.4s;

            .add-btn {
                position: absolute;
                bottom: 3.5rem;
                right: 0;
                z-index: 1;
                font: 500 1.05rem $comicSnsMs-font;
                color: white;
                background-color: $secondary-color;
                padding: 0.65rem 1rem;
                border-radius: 10px 0 0 0;
                transform: translate(110%, 50%);
                transition: 0.4s;

                &.in-cart {
                    transform: translate(0);
                    background-color: gray;
                    transition: none;
                }

                &:not(.in-cart):hover {
                    color: $primary-color;
                }
            }

            a {
                display: block;

                img {
                    display: block;
                    max-width: 100%;
                    height: 200px;
                    margin: 0 auto;
                    transition: 0.3s;
                }

                .details {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 3.5rem;
                    font-weight: 600;
                    padding: 1rem;
                    background-color: $primary-color;
                    color: white;
                    position: relative;
                    z-index: 1;

                    // background-color: rgb(247, 247, 247);
                    // color: $primary-color;

                    span.price {
                        i {
                            font-size: smaller;
                        }
                    }
                }
            }

            &:hover {
                // box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);

                img {
                    transform: scale(1.05);
                }

                .add-btn {
                    transform: translate(0);
                }
            }
        }
    }
}

.product-details {
    padding: 1rem;

    .title {
        color: $primary-color;
        font: 900 2.85rem $cantoraOne-font;
        margin-bottom: 3rem;
        text-align: center;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;

        .img-container {
            flex: 1 0 calc(50% - 1rem);
            margin-right: 1rem;

            img {
                display: block;
                max-width: 100%;
                height: auto;
            }
        }

        .details {
            flex: 1 0 50%;

            .product-model {
                font: 600 1.85rem $oswald-font;
                color: $secondary-color;
            }

            span {
                display: block;

                &.company {
                    font: 600 1.25rem $comicSnsMs-font;
                    color: gray;
                    margin-bottom: 0.5rem;
                }

                &.price {
                    font: 600 1.15rem $oswald-font;
                    margin-bottom: 0.5rem;

                    i {
                        font-size: smaller;
                    }
                }

                &.info-title {
                    font: 600 1rem $oswald-font;
                }
            }

            .info {
                text-transform: capitalize;
                font-family: $oswald-font;
            }

            .actions {
                display: flex;
                justify-content: center;
                align-items: center;
                font: 600 1rem $comicSnsMs-font;

                a,
                button {
                    padding: 0.5rem 1rem;
                    text-transform: capitalize;
                    text-align: center;
                    flex: 1;
                    color: white;
                    transition: background-color 0.3s;

                    &:active {
                        transform: translateY(1px);
                    }
                }

                .home-link {
                    background-color: $secondary-color;
                    border-radius: 10px 0 0 10px;
                }

                .add-btn {
                    background-color: $primary-color;
                    border-radius: 0 10px 10px 0;

                    &.in-cart {
                        background-color: gray;
                    }
                }
            }
        }
    }

    @media (min-width: 1200px) {
        width: 60%;
        margin: 0 auto;
    }

    @media (max-width: 720px) {
        padding: 4rem 1rem;

        .wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}

.carts-alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
    font: 600 2rem $anton-font;
    color: $primary-color;
}

.carts-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 92vh;

    h2 {
        margin-bottom: 3rem;
    }

    .products-table {
        margin-bottom: 2.5rem;

        .table-title {
            border-top: 2px solid #dee2e6;
            border-bottom: 2px solid #dee2e6;
            padding: 1rem 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0.5rem;

            p {
                margin-bottom: 0;
                color: inherit;
                font: 700 1.1rem $cantoraOne-font;
            }
        }

        ul {
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #dee2e6;

                > * {
                    flex: 1;
                    text-align: center;
                }

                &:nth-of-type(even) {
                    background-color: rgba(0, 0, 0, 0.03);
                }

                .product-img {
                    height: 70px;

                    img {
                        display: inline-block;
                        max-width: 100%;
                        height: auto;
                        max-height: 100%;
                    }
                }

                .product-title {
                    h6 {
                        font: 600 1.25rem $oswald-font;
                        color: $primary-color;
                    }
                }

                .product-price,
                .product-total {
                    text-transform: capitalize;
                    font: 900 1.1rem $oswald-font;

                    i {
                        font-size: smaller;
                    }
                }

                .product-quantity {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span,
                    button {
                        // flex: 1;
                        padding: 0.25rem 0.05rem;
                        border-radius: 2px;
                        width: 45px;
                        height: 45px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    button {
                        border: 3px double $secondary-color;
                        color: $secondary-color;
                        transition: background-color 0.3s, color 0.3s;

                        &:hover {
                            color: white;
                            background-color: $secondary-color;
                        }

                        &:active:not(:disabled) {
                            transform: scale(0.95);
                        }

                        &:first-of-type {
                            margin-right: 1rem;
                        }

                        &:last-of-type {
                            margin-left: 1rem;
                        }

                        &:disabled {
                            color: white;
                            background-color: gray;
                            border-color: transparent;
                        }

                        i {
                            font-size: 0.9rem;
                        }
                    }

                    span {
                        color: white;
                        background-color: $secondary-color;
                        border: 3px solid $secondary-color;
                        font-variant-numeric: tabular-nums;
                    }
                }

                .product-delete {
                    button {
                        color: $primary-color;

                        &:hover {
                            animation: rotateDeleteBtn 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
                        }

                        @keyframes rotateDeleteBtn {
                            0% {
                                transform: rotate(0);
                            }

                            25% {
                                transform: rotate(30deg);
                            }

                            50% {
                                transform: rotate(-30deg);
                            }

                            75% {
                                transform: rotate(30deg);
                            }

                            80% {
                                transform: rotate(-30deg);
                            }

                            100% {
                                transform: rotate(0);
                            }
                        }
                    }
                }

                @media (max-width: 769px) {
                    flex-direction: column;
                    margin-bottom: 1.5rem;
                    padding: 1rem;
                    border-bottom: none;

                    > * {
                        margin-bottom: 1rem;
                    }

                    .product-quantity {
                        span,
                        button {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }

    .totals-container {
        margin-top: auto;
        margin-left: auto;
        min-width: 15%;

        button,
        span,
        small {
            display: block;
            width: 100%;
            margin: 0.75rem 0;
        }

        span {
            font: 900 1rem $oswald-font;
            color: #333;
            text-transform: uppercase;

            i {
                font-size: smaller;
            }
        }

        small {
            font-family: $oswald-font;
            font-weight: 600;
        }

        .clear-cart {
            padding: 0.65rem;
            background-color: #003399d6;
            color: white;
            border-radius: 2px;
            box-shadow: 0 8px 0 $primary-color;
            font: 600 0.9rem $comicSnsMs-font;

            &:focus {
                box-shadow: 0 8px 0 $primary-color !important;
            }

            &:active {
                box-shadow: 0 5px 0 $primary-color !important;
                transform: translateY(3px);
            }
        }
    }
}

.not-found {
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    a {
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #55aef0;
        color: white;
        padding: 0.75rem 2rem;
        border-radius: 5px;
        min-width: 20%;
        text-align: center;
        font: 600 1.5rem $cantoraOne-font;
    }
}

//*=====  End of APP-COMPONENT  ======*//

.alert-message {
    position: fixed;
    top: 13vh;
    left: 0;
    color: white;
    background-color: $secondary-color;
    border-radius: 0 10px 10px 0;
    padding: 0.65rem;
    transform: translateX(-100%);
    font: 600 1.05rem $montserrat-font;
    transition: 0.3s;

    &.active {
        transform: translateX(0);
    }
}

.modal-component {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
    opacity: 0;
    pointer-events: none;
    display: none;

    &.show {
        opacity: 1;
        pointer-events: all;
        display: flex;
    }

    .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #e22e;
        color: white;
        padding: 0.35rem 0.65rem;
        // outline: 3px solid #e22e;
        // outline-offset: 2px;
        border-radius: 0 0 0 3px;

        i {
            pointer-events: none;
        }
    }

    .modal-content {
        background-color: whitesmoke;
        width: 400px;
        padding: 1rem;

        > span {
            text-transform: capitalize;
            text-align: center;
            font-size: 1.5rem;
            font-family: $anton-font;
            display: block;
        }

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 0 1rem;

            img {
                display: block;
                max-width: 100%;
                height: 250px;
            }

            .title {
                color: $primary-color;
                font-weight: 700;
            }

            .price {
                color: $flat-midnight-blue;
                font-weight: 700;
                font-size: 1.2rem;
                text-transform: capitalize;

                i {
                    font-size: medium;
                }
            }
        }

        .actions {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            a {
                padding: 0.5rem 1rem;
                text-transform: capitalize;
                font: 600 1rem cursive;
                transition: 0.3s;
            }

            .home-link {
                color: $secondary-color;
                border: 2px solid $secondary-color;
                margin-bottom: 1rem;

                &:hover {
                    color: white;
                    background-color: $secondary-color;
                }
            }

            .cart-link {
                color: $primary-color;
                border: 2px solid $primary-color;

                &:hover {
                    color: white;
                    background-color: $primary-color;
                }
            }
        }
    }
}
